* {
  box-sizing: border-box;
}

.section3 {
        background-color: #c3e288;
  padding: 64px;
}

.row:after {
  content: "";
  display: table;
  clear: both
}

.row{
max-width: 1500px;
margin: auto;

}

.column-66 {
  float: left;
  width: 50%;
  padding: 20px;
}



.column-33 {
  float: left;
  width: 50%;
  padding: 20px;
    
}



.large-font {
  font-size: 30px;
}

.xlarge-font {
  font-size: 50px
      
       font-size: 30px;
}

.button {
  border: none;
  color: white;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  background-color: silver;
    color: black;
}

img {
  display: block;
  height: 400px;
  max-width: 100%;
}

@media screen and (max-width: 1000px) {
  .column-66,
  .column-33 {
    width: 100%;
    text-align: center;
  }
  img {
    margin: auto;
  }
}